@import "format.css";

body {
  max-width: 35em;
  background-color: #eee;
}

body>h1:first-child, td.main {
  background-color: #cc8;
  border-radius: 0.5em;
  padding: 0em 1em;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "URW Gothic L", sans-serif;
  font-weight: normal;
  color: #c17f6f;
}

a {
  color: #2A70E0;
  text-decoration: none;
}
a:visited {
  color: #469;
}
a:hover {
  color: #bb3;
}

img {
  max-width: 60%;
}

img.right {
    margin: 1em;
    float: right;
}

pre {
  background: #ccc;
  overflow-x: auto;
}

#nav {
  padding: 0;
  text-align: center;
  border-top: solid black 1px;
}
#nav li {
  display: inline;
}
#nav li + li:before {
  content: " | ";
}

address {
  clear: both;
  font-size: small;
}

address a {
	margin: 0 2em;
}

address a:before {
	padding: 0.5em;
}

