/* http://www.colourlovers.com/palette/92095/Giant_Goldfish */
@import "format.css";

html {
	background-color: white;
	background-image: url("/neale/images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

body {
  max-width: 35em;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  min-height: 100%;
  padding: 1em;
}

body>h1:first-child, td.main {
  background-color: #e0e4cc;
  border-radius: 0.5em;
  padding: 0em 1em;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "URW Gothic L", sans-serif;
  font-weight: normal;
  color: #fa6900;
}

a {
  color: #38d;
  text-decoration: none;
}
a:visited {
  color: #2aa;
}
a:hover {
  color: #f83;
}

img {
  max-width: 60%;
}

img.right {
    margin: 1em;
    float: right;
}

img.face {
	margin: 1em;
	width: 10em;
	float: left;
}

pre {
  background: #ccc;
  overflow-x: auto;
}

#nav {
  padding: 0;
  text-align: center;
  border-top: solid black 1px;
}
#nav li {
  display: inline;
}
#nav li + li:before {
  content: " | ";
}

address {
  clear: both;
  font-size: small;
}

address a {
	margin: 0 2em;
}

address a:before {
	padding: 0.5em;
}

