body {
  max-width: 35em;
  background-color: #eee;
}

p, li, dd {
  text-align: justify;
}

h1:first-child {
  background-color: #cc8;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "URW Gothic L", sans-serif;
  color: #c17f6f;
}

a {
  color: #2A70E0;
  text-decoration: none;
}
a:visited {
  color: #469;
}
a:hover {
  color: #bb3;
}

pre {
  background: #ccc;
  margin: 1em 2em;
  padding: 1em;
  border: solid black 1px;
}

#nav {
  padding: 0;
  text-align: center;
}
#nav li {
  display: inline;
}
#nav li + li:before {
  content: " | ";
}

address {
  clear: both;
  font-size: small;
}
