/* http://www.colourlovers.com/palette/92095/Giant_Goldfish */
html {
	background-color: white;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

body {
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  padding: 1em;
  border-radius: 1em;
  max-width: 35em;
  font-family: "Lato", "Roboto", sans-serif;
  font-size: 13pt;
}

input {
  font-family: "Lato", "Roboto", sans-serif;
  font-size: 13pt;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.title, td.main {
  background-color: #e0e4cc;
  border-radius: 0.25em;
  padding: 0.1em 0.5em;
  margin-top: 0;
  box-shadow: 0.2em 0.2em 1em rgba(0,0,0,0.1);
}

.subtitle {
  font-size: 60%;
}

h1, h2, h3, h4, h5, h6 {
  color: #e64;
}

a {
  color: #38d;
  text-decoration: none;
}
a:visited {
  color: #579;
}
a:hover {
  color: #f83;
}

img.face {
	margin: 1em;
	width: 10em;
}

pre {
  background: #e0e4cc;
  overflow-x: auto;
}

blockquote {
	background: #e0e4cc;
	padding: 0.1em 1em;
	border-radius: 0.4em;
}

footer {
  clear: both;
  border-top: solid black 1px;
}

nav ul {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

nav ul li {
  display: inline;
  margin: 0 0.5em;
  flex-grow: 1;
}

nav ul .fill {
  flex-grow: 20;
}

.left {
  float: left;
}
.right {
  float: right;
}

/* Formatting */

p, li, dd {
  text-align: left;
}

body > p {
  text-indent: 1.5em;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, ol + p, ul + p, pre + p, blockquote + p, img + p {
  text-indent: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

pre {
  margin: 1em 2em;
  padding: 1em;
  border: solid black 1px;
}

.figure {
  float: right;
  padding: 0.25em;
  margin: 0.5em;
  font-size: small;
  border: solid black 1px;
}

#timestamp {
    font-size: small;
    text-indent: inherit;
}

button.big {
  padding: 0;
  border: 0;
  margin: 1em;
  font-size: 2em;
  background: inherit;
}

.tags {
	font-size: small;
}

@media (max-width: 768px) {
  img, video {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  img, video {
    max-width: 60%;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    background-image: url("../images/bg-dark.jpg");
    filter: invert(1);
  }
  img,video {
    filter: invert(1);
  }
}

