body {
  font-family: "DejaVu Serif", serif;
}

p, li, dd {
  text-align: justify;
}

body > p {
  text-indent: 1.5em;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, ol + p, ul + p, pre + p, blockquote + p, img + p {
  text-indent: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "URW Gothic L", sans-serif;
  font-weight: normal;
}

pre {
  margin: 1em 2em;
  padding: 1em;
  border: solid black 1px;
}

.figure {
  float: right;
  padding: 0.25em;
  margin: 0.5em;
  font-size: small;
  border: solid black 1px;
}

address {
  clear: both;
  font-size: small;
}

address a {
    margin: 0 2em;
}

address a:before {
    padding: 0.5em;
}

#timestamp {
    font-size: small;
    text-indent: inherit;
}
