    <ul id="nav">
      <li><a href="/neale/src/" title="Free Software">Software</a></li>
      <li><a href="/neale/tartans/" title="AKA Plaids">Tartans</a></li>
      <li><a href="/neale/poems/" title="I won't quit my day job">Poems</a></li>
      <li><a href="/neale/papers/" title="Various writings">Papers</a></li>
    </ul>

    <address>
      Neale Pickett <br>
	  <a href="mailto:neale&#64;woozle&#46;org" class="fa fa-envelope">neale@woozle.org</a> <br>
	  <a href="https://google.com/+NealePickett" class="fa fa-google-plus">+NealePickett</a>
    </address>
  </body>
</html>
