  <head>
    <title>TITLE</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/neale/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/neale/css/default.css">
    <link rel="stylesheet" type="text/css" media="print" href="/neale/css/print.css">
    <link rel="icon" type="image/png" href="/neale/face.png">
    <link rel="start" type="text/html" href="/neale/" title="Neale Pickett Page">
  </head>
