
#instructions th.addr {
    text-align: right;
    color: brown;
}

td.name {
    font-weight: bold;
}

td.args {
    color: green;
}

td.hex {
    color: #777;
}

.ablaze {
    background-image: url(fire.gif);
    background-position-y: bottom;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
}

@media screen and (min-width: 768px) {
    #cpu-box {
        max-height: 95vh;
    }
    
    .table-container {
        max-height: calc(100% - 4em);
        overflow-y: scroll;
    }
}
