<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic">
    <!-- My stuff -->
    <link rel="stylesheet" media="screen" href="{{ '/assets/css/default.css' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ '/assets/images/face.png' | relative_url }}">
    <link rel="alternate" type="application/atom+xml" title="Neale Blog" href="/feed.xml">
{% if page.scripts %}{% for js_file in page.scripts %}
    <script src="{{ js_file }}"></script>
{% endfor %}{% endif %}
{% if page.headers %}{% for header in page.headers %}
    {{ header }}
{% endfor %}{% endif %}
    <title>{{ page.title }}</title>
  </head>

  <body>
    <h1 class="title">
      <span>{{ page.title }}</span>
      {% if page.collection == "posts" %}
      <br>
      <span class="subtitle">
        {{page.date | date: "%Y %B %-d"}}
      </span>
      {% endif %}
    </h1>

    <main id="content">
      {{ content }}
{% if page.Time-stamp %}
      <p id="timestamp">Last modified: {{ Time-stamp }}</p>
{% endif %}
    </main>

    <footer>
      <nav class="left">
        <ul>
          <li><a href="{{ '/tartans/' | relative_url }}" title="AKA Plaids">Tartans</a></li>
          <li><a href="{{ '/poems/' | relative_url }}" title="I won't quit my day job">Poems</a></li>
          <li><a href="{{ '/papers/' | relative_url }}" title="Various writings">Papers</a></li>
          <li><a href="{{ '/blog.html' | relative_url }}" title="Public Journal">Blog</a></li>
          <li><a href="{{ '/toys/' | relative_url }}" title="Dumb apps">Toys</a></li>
        </ul>
      </nav>
      <nav class="right">
        <ul>
          <li><a href="https://github.com/nealey/">GitHub</a></li>
          <li><a href="mailto:neale@woozle.org">Email</a></li>
        </ul>
      </nav>
    </footer>

  </body>
</html>

